<div class="containter flex justify-evenly">
  {% for product in collections['frontpage'].products %}
    <div class="">
      <a class="text-white" href="{{ product.url }}">
        <img src="{{ product.featured_image | img_url }}" />
        <h3 class="text-white">{{ product.title }}</h3>
        <p class="text-white">{{ product.price | money }}</p>
      </a>
    </div>
    {% comment %} {{ product.title | link_to: product.url }} {% endcomment %}
  {% endfor %}
</div>

{% schema %}
  {
    "name": "Frontpage Collection",
    "class": "bg-gray-600",
    "settings": [
      {
        "type": "collection",
        "id": "collection",
        "label": "select a collection"

      }
    ]
  }
{% endschema %}