
<div class="justify-center flex-1 max-w-6xl px-4 py-4 mx-auto lg:py-6 md:px-6">
    <div class="flex flex-wrap items-center">
        <div class="w-full px-4 mb-10 xl:w-1/2 lg:mb-8">
            <div class="flex flex-wrap">
                <div class="w-full px-4 md:w-1/2">
                    <img src="{{ section.settings.first_image_picker | img_url: 'master'}}" alt=""
                        class="object-cover w-full mb-6 rounded-lg h-80">
                    <img src="{{ section.settings.second_image_picker | img_url: 'master' }}" alt=""
                        class="object-cover w-full rounded-lg h-80">
                </div>
                <div class="w-full px-4 md:w-1/2 xl:mt-11">
                    <img src="{{ section.settings.third_image_picker | img_url: 'master'}}" alt=""
                        class="object-cover w-full mb-6 rounded-lg h-80">
                    <img src="{{ section.settings.fourth_image_picker | img_url: 'master' }}" alt=""
                        class="object-cover w-full rounded-lg h-80">
                </div>
            </div>
        </div>
        <div class="w-full px-4 mb-10 xl:w-1/2 lg:mb-8">
            <span class="text-sm font-semibold text-white">{{ section.settings.why_choose_us }}</span>
            <h2 class="mt-2 mb-4 text-2xl font-bold text-mdew">
                {{ section.settings.why_choose_us_title_text }}
            </h2>
            <p class="mb-4 text-base leading-7 text-white">
                {{ section.settings.why_choose_us_text }}
            </p>
            <ul class="mb-10">
                <li class="flex items-center mb-4 text-base text-mdew">
                    <span class="mr-3 text-mdew">
                        {% render 'icon-circle-1' %}
                    </span>
                    <p class="text-white">{{ section.settings.first_bullet_text }}</p>
                </li>
                <li class="flex items-center mb-4 text-base text-mdew">
                    <span class="mr-3 text-mdew">
                        {% render 'icon-circle-2' %}
                    </span>
                    <p class="text-white">{{ section.settings.second_bullet_text }}</p>
                </li>
                <li class="flex items-center mb-4 text-base text-mdew">
                    <span class="mr-3 text-mdew">
                        {% render 'icon-circle-3' %}
                    </span>
                    <p class="text-white">{{ section.settings.third_bullet_text }}</p>
                </li>
                <li class="flex items-center mb-4 text-base text-mdew">
                    <span class="mr-3 text-mdew">
                        {% render 'icon-circle-4' %}
                    </span>
                    <p class="text-white">{{ section.settings.fourth_bullet_text }}</p>
                </li>
            </ul>
            <a href="https://trydevstoretest.myshopify.com/collections/all"
                class="px-4 py-2 text-dark font-bebas bg-mdew rounded-md hover:bg-mdew2">
                All Collection
            </a>
        </div>
    </div>
</div>


{% schema %}
    {
        "name": "Who we are",
        "class": "who_we_are flex items-center py-20 bg-dark",
        "settings": [
            {
                "type": "image_picker",
                "id": "first_image_picker",
                "label": "Top Left Image"
            }, {
                "type": "image_picker",
                "id": "second_image_picker",
                "label": "Bottom Left Image"
            }, {
                "type": "image_picker",
                "id": "third_image_picker",
                "label": "Top Right Image"
            }, {
                "type": "image_picker",
                "id": "fourth_image_picker",
                "label": "Bottom Right Image"
            }, {
                "type": "text",
                "id": "why_choose_us",
                "label": "Why choose us"
            }, {
                "type": "text",
                "id": "why_choose_us_title_text",
                "label": "Why choose us Title"
            }, {
                "type": "text",
                "id": "why_choose_us_text",
                "label": "Why choose us Text"
            }, {
                "type": "text",
                "id": "first_bullet_text",
                "label": "First Bullet Text"
            }, {
                "type": "text",
                "id": "second_bullet_text",
                "label": "Second Bullet Text"
            }, {
                "type": "text",
                "id": "third_bullet_text",
                "label": "Third Bullet Text"
            }, {
                "type": "text",
                "id": "fourth_bullet_text",
                "label": "Fourth Bullet Text"
            }
        ]
    }
{% endschema %}