<style>
  .top_bar {
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
  }

  .top_bar a,
  .top_bar p {
    display: inline-block;
    padding-left: 30%;
    animation: top_bar 6s linear infinite;
  }

  @keyframes top_bar {
    0% {
      transform: translateX(0, 0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
</style>

{%- if section.settings.show_announcement -%}
  {%- if section.settings.home_page_only == false or template.name == 'index' -%}

    {%- if section.settings.link == blank -%}
      <div>
      {%- else -%}
        <a href="{{ section.settings.link }}">
        {%- endif -%}

        <p class="text-black text-base font-bebas" style="text-align: {{ section.settings.text_align }}">{{ section.settings.text | escape }}</p>
        <p class="text-black text-base font-bebas" style="text-align: {{ section.settings.text_align }}">{{ section.settings.text | escape }}</p>
        <p class="text-black text-base font-bebas" style="text-align: {{ section.settings.text_align }}">{{ section.settings.text | escape }}</p>
        <p class="text-black text-base font-bebas" style="text-align: {{ section.settings.text_align }}">{{ section.settings.text | escape }}</p>

        {%- if section.settings.link == blank -%}
        </div>
    {%- else -%}
      </a>
    {%- endif -%}

  {%- endif -%}
{%- endif -%}

{% schema %}
  {
    "name": "Announcement bar",
    "class": "top_bar fixed w-full z-20 bg-mdew",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_announcement",
        "label": "Show announcement",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "home_page_only",
        "label": "Home page only",
        "default": true
      },
      {
        "type": "text",
        "id": "text",
        "label": "Announcement text",
        "default": "Announce something here"
      },
      {
        "type": "select",
        "id": "text_align",
        "options": [
          {
            "value": "left",
            "label": "Left"
          }, {
            "value": "center",
            "label": "Center"
          }, {
            "value": "right",
            "label": "Right"
          }
        ],
        "default": "right",
        "label": "Text alignment"
      }, {
        "type": "url",
        "id": "link",
        "label": "Announcement link"
      }
    ]
  }
{% endschema %}